.navbar{
    border: 2px solid var(--pink);
    background-color: #fff;
    padding: 10px 30px;
    margin: 55px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto Slab", serif;
}

.nav-logo img{
    height: 60px;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.nav-links a{
    text-decoration: none;
    font-size: 20px;
    color: var(--blue);
    transition: 0.2s linear;
}

.nav-links a:hover{
    color: var(--pink);
}

a.active-nav-link{
    border-bottom: 3px solid var(--pink);
    color: var(--pink);
}