.navbar{
    border: 2px solid var(--pink);
    background-color: #fff;
    padding: 10px 30px;
    margin: 55px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto Slab", serif;
}

.nav-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 30%;
}

.nav-logo img{
    height: 60px;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    /* toggle button fix */
}

.nav-links a{
    text-decoration: none;
    font-size: 20px;
    color: var(--blue);
    transition: 0.2s linear;
}

.nav-links a:hover{
    color: var(--pink);
}

a.active-nav-link{
    border-bottom: 3px solid var(--pink);
    color: var(--pink);
}

.log-out-btn{
    border: 2px solid var(--pink);
    border-radius: 3px;
    background-color: var(--pink);
    padding: 5px 10px;
    color: var(--white);
}

.log-out-btn:hover{
    background-color: var(--white);
    color: var(--black);
}

.toggle-btn{
    font-size: 40px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px){
    .toggle-btn{
        display: block;
    }

    .navbar{
        flex-direction: column;
    }

    .nav-logo img{
        height: 80px;
    }

    .nav-logo, .nav-links{
        width: 100%;
    }

    .nav-links{
        flex-direction: column;
    }

    .nav-links a{
        margin: 15px 0;
    }
}