.service-card {
  border: 1px solid var(--gray);
  border-radius: 5px;
  box-shadow: 5px var(--black);
  background: transparent;
  font-family: "Roboto Slab", sans-serif;
  position: relative;
  transition: 0.25s linear;
}

.service-card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.service-card-contents {
  padding: 10px;
}

.service-card-title {
  font-size: 30px;
  font-weight: 600;
  color: var(--blue);
  margin: 5px 0;
}

.service-card-contents h3 {
  font-size: 25px;
  margin: 15px 0;
}

.service-card-contents p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 75px;
}

.service-card-contents div:last-child {
    width: 100%;
}

.service-card-contents p.appoint-link {
  font-size: 18px;
  margin: 25px 0;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  border-bottom: 2px solid var(--pink);
  color: var(--pink);
  font-weight: 700;
}
