.testimonial-cards{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    margin: 30px 15px;
}

@media screen and (max-width: 1000px){
    .testimonial-cards{
        display: grid;
        grid-template-columns: 100%;
    }
}