.not-found-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-family: "Roboto Slab", serif;
}

.not-found-container img{
    width: 50%;
}

.not-found-container p{
    font-size: 30px;
    text-align: center;
    color: var(--blue);
}

.not-found-container a{
    text-decoration: none;
    font-size: 25px;
    color: var(--pink);
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.not-found-container span{
    margin-right: 10px;
}

.not-found-container a:hover{
    text-decoration: underline;
}

.not-found-container img.email-sent-container{
    width: 30%;
}

@media screen and (max-width: 992px){
    .not-found-container img{
        width: 90%;
    }

    .not-found-container img.email-sent-container{
        width: 60%;
    }
}