.banner-contents{
    font-family: "Josefin Sans", serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    margin: 100px 0 50px;
}

.banner-contents h2{
    font-size: 35px;
}

.banner-contents h1{
    font-size: 55px;
    margin: 15px 0;
}

.banner-contents p{
    margin: 30px 0;
    font-size: 18px;
    line-height: 30px;
    color: var(--gray);
}

.banner-img{
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner-btn-group button:first-child, .services-view-all-btn{
    background-color: var(--pink);
    color: var(--white);
    border: 1px solid var(--pink);
    display: inline;
}

.banner-btn-group button:first-child:hover{
    background-color: var(--white);
    color: var(--black);
    border-color: var(--white);
}

.banner-btn-group button:last-child{
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
}

.banner-btn-group button:last-child:hover{
    background-color: var(--pink);
    color: var(--white);
    border-color: var(--pink);
}

.services-view-all-btn{
    margin: 0 auto;
    text-align: center;
}